Repository MH4GF/shared-config: changes, and which lefthook commands are due for each by the changed paths.
All: plugin-version-check, lint

plugin-version-check:
  run: ./scripts/check-plugin-version.sh
  fail_text: '‚ùå Plugin version not updated.
  
  
    When modifying files in .claude-plugins/, you must also update
  
    the version in the corresponding plugin.json file.
  
    '

lint:
  run: pnpm lint
  fail_text: Linting failed. Please fix the issues and try again.
  stage_fixed: true

feat: add content copy mode to pbcopy command
  .claude-plugins/plan-tools/.claude-plugin/plugin.json
  .claude-plugins/plan-tools/commands/pbcopy.md
Due: plugin-version-check, lint

docs: move state-machine example to correct command section
  .claude-plugins/plan-tools/.claude-plugin/plugin.json
  .claude-plugins/plan-tools/README.md
Due: plugin-version-check, lint

docs: update pbcopy command to reflect content copy mode
  .claude-plugins/plan-tools/.claude-plugin/plugin.json
  .claude-plugins/plan-tools/README.md
Due: plugin-version-check, lint

feat: add QA plugin with test planning and verification agents
  .claude-plugin/marketplace.json
  .claude-plugins/qa/.claude-plugin/plugin.json
  .claude-plugins/qa/README.md
  .claude-plugins/qa/agents/claude-md-checker.md
  .claude-plugins/qa/agents/e2e-planner.md
  .claude-plugins/qa/agents/e2e-verifier.md
  .claude-plugins/qa/agents/unit-planner.md
Due: plugin-version-check, lint

feat(qa): add qa file persistence for e2e-planner
  .claude-plugins/qa/.claude-plugin/plugin.json
  .claude-plugins/qa/agents/e2e-planner.md
  .claude-plugins/qa/agents/e2e-verifier.md
Due: plugin-version-check, lint

refactor(qa): move e2e-verifier from agents to commands
  .claude-plugins/qa/.claude-plugin/plugin.json
  .claude-plugins/qa/README.md
  .claude-plugins/qa/agents/claude-md-checker.md
  .claude-plugins/qa/agents/e2e-planner.md
  .claude-plugins/qa/agents/unit-planner.md
  .claude-plugins/qa/commands/e2e-verifier.md
Due: plugin-version-check, lint

refactor(qa): rename e2e-verifier command to e2e
  .claude-plugins/qa/.claude-plugin/plugin.json
  .claude-plugins/qa/README.md
  .claude-plugins/qa/agents/claude-md-checker.md
  .claude-plugins/qa/agents/e2e-planner.md
  .claude-plugins/qa/agents/unit-planner.md
  .claude-plugins/qa/commands/e2e.md
Due: plugin-version-check, lint

fix: remove unsupported type key from composite action input
  .github/composite-actions/setup-pnpm/action.yml
Due: none

fix: resolve biome v2.4.2 lint errors
  biome.jsonc
  examples/vite-project/package.json
  pnpm-lock.yaml
  typescript/packages/configs/__tests__/init.test.ts
  typescript/packages/configs/biome/index.jsonc
Due: lint

feat: implement Phase 1 Stream 2 UI Components with TDD
  knip.json
  pnpm-lock.yaml
  typescript/packages/configs/__tests__/init-form.test.tsx
  typescript/packages/configs/__tests__/init.test.ts
  typescript/packages/configs/package.json
  typescript/packages/configs/src/commands/init.ts
  typescript/packages/configs/src/ui/InitForm.tsx
  typescript/packages/configs/tsup.config.ts
  typescript/packages/configs/vitest.config.ts
Due: lint

fix: use React 18 for ink@5 compatibility
  .syncpackrc
Due: none

fix: resolve CLI execution issue with neverthrow ResultAsync
  typescript/packages/configs/src/cli.ts
Due: lint

test: add CLI integration tests to prevent execution issues
  typescript/packages/configs/__tests__/cli-integration.test.ts
Due: lint

docs: update CLI requirements with implementation details
  docs/cli/requirements.md
Due: none

fix: use direct tsx path instead of npx in integration tests
  typescript/packages/configs/__tests__/cli-integration.test.ts
Due: lint

fix: resolve vitest v4 + ink@5 test compatibility and biome warnings
  pnpm-lock.yaml
  typescript/packages/configs/__tests__/init-form.test.tsx
  typescript/packages/configs/__tests__/init.test.ts
  typescript/packages/configs/package.json
  typescript/packages/configs/src/commands/init.ts
Due: lint

fix: keep .js import extension in init.ts for DTS build compatibility
  typescript/packages/configs/__tests__/init.test.ts
  typescript/packages/configs/src/commands/init.ts
Due: lint

fix: resolve tsx binary from configs package node_modules
  typescript/packages/configs/__tests__/cli-integration.test.ts
Due: lint

fix: resolve CLI execution issue and add integration tests (#201)
  .syncpackrc
  docs/cli/requirements.md
  knip.json
  pnpm-lock.yaml
  typescript/packages/configs/__tests__/cli-integration.test.ts
  typescript/packages/configs/__tests__/init-form.test.tsx
  typescript/packages/configs/__tests__/init.test.ts
  typescript/packages/configs/package.json
  typescript/packages/configs/src/cli.ts
  typescript/packages/configs/src/commands/init.ts
  typescript/packages/configs/src/ui/InitForm.tsx
  typescript/packages/configs/tsup.config.ts
  typescript/packages/configs/vitest.config.ts
Due: lint

fix: import JSX namespace from react for React 19 compatibility
  typescript/packages/configs/src/ui/InitForm.tsx
Due: lint

fix: align typescript version to 5.9.3 in examples/vite-project
  examples/vite-project/package.json
  pnpm-lock.yaml
Due: lint

fix: align eslint version to 9.39.3 in examples/vite-project
  examples/vite-project/package.json
  pnpm-lock.yaml
Due: lint

fix: sync @biomejs/biome version in examples/vite-project to 2.4.4
  examples/vite-project/package.json
  pnpm-lock.yaml
Due: lint

fix: sync @biomejs/biome version in examples/vite-project to 2.4.5
  examples/vite-project/package.json
  pnpm-lock.yaml
Due: lint

fix: sync eslint version in examples/vite-project to 9.39.4
  examples/vite-project/package.json
  pnpm-lock.yaml
Due: lint

fix: sync @biomejs/biome version in examples/vite-project to 2.4.6
  examples/vite-project/package.json
  pnpm-lock.yaml
Due: lint

feat(qa): add E2E report persistence and past report review to e2e command
  .claude-plugins/qa/.claude-plugin/plugin.json
  .claude-plugins/qa/commands/e2e.md
Due: plugin-version-check, lint

fix: sync @biomejs/biome version in examples/vite-project to 2.4.12
  examples/vite-project/package.json
  pnpm-lock.yaml
Due: lint

fix: adapt @mh4gf/configs to TypeScript 6.0
  examples/vite-project/package.json
  pnpm-lock.yaml
  typescript/packages/configs/package.json
  typescript/packages/configs/tsconfig.json
Due: lint

feat: add reusable workflow for unslop
  .github/workflows/_unslop.yml
Due: none

feat: add ignore-paths input to _unslop.yml
  .github/workflows/_unslop.yml
Due: none

ci: install unslop from GitHub Release binary instead of cargo build
  .github/workflows/_unslop.yml
Due: none

ci(_unslop): install via gh release download instead of cargo install
  .github/workflows/_unslop.yml
Due: none

fix(_unslop): pass core.quotePath=false to git diff in collect step
  .github/workflows/_unslop.yml
Due: none

feat(unslop): works / claude-code 共通の prh.yml を追加し _unslop.yml で自動取得する
  .github/workflows/_unslop.yml
  .github/workflows/unslop-config-ci.yml
  unslop/prh.yml
Due: none

chore(unslop): prh.yml のヘッダから呼び出し元の列挙を削除
  unslop/prh.yml
Due: none

Path conditions:
  plugin-version-check: any of: .claude-plugins/**/*
  lint: any of: **/*.{ts,tsx,js,jsx,mjs,cjs,json}
